<%- include('../partials/header') %>

<h2>All Locations</h2><br><br>
<div id="list-all">
    <table class="all-locations-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% locations.forEach(function(location) { %>
                <tr>
                    <td><%= location.name %></td>
                    <td><%= location.address %></td>
                    <td><%= location.type %></td>
                    <td><a href="/locations/<%= location._id %>">Details</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %>