<%- include('../partials/header') %>

<h2>My Locations</h2>

<% if (locations.length > 0) { %>
    <div id="my-list">
    <table class="my-locations-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% locations.forEach(function(location) { %>
                <tr>
                    <td><%= location.name %></td>
                    <td><%= location.address %></td>
                    <td><%= location.type %></td>
                    <td><a href="/locations/<%= location._id %>" class="details-link">Info</a></td>
                    <td class="buttons-cell">
                        <form action="/locations/<%= location._id %>?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete-button">X</button>
                        </form>
                        <a href="/locations/<%= location._id %>/edit" class="edit-button">✏️</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    </div>
<% } else { %>
  <p>No locations added by you yet.</p>
<% } %>

<%- include('../partials/footer') %>